.castItem {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 5px;
  align-items: center;
  padding-bottom: 15px;
}

.castItem:not(:last-child) {
  margin-right: 15px;
}

.castImg {
  padding-bottom: 15px;
}

.castName {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
}
