.main {
  width: 980px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 3px hsl(0deg 0% 68% / 60%);
  border-radius: 5px;
}
