.header {
  margin-bottom: 20px;
  background-color: #032541;
}

.nav {
  display: flex;
  padding: 20px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.nav a {
  color: #fff;
  text-decoration: none;
}
